body{
    margin: 0;
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  top; 
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
}
.card{
    background-color: white;
    width: 425px;
    border-radius: 12px;
    background-color: white;
}
h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.75rem;
}
.img-card{
    width: 100%;
    object-fit: contain;
    border-radius: 12px 12px 0 0 ;
}
.contain-content{
    margin: 10px 35px 35px 35px;
}
.music-plan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    border-radius: 7px;
}
.type-plan{
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    margin-bottom: 0;
}
.price{
    margin-top: 0.2rem;
}

.img-plan{
    display: flex;
    gap: 15px;
    align-items: center;
}
button{
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 12px;
    
}
.pay{
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    margin: 2rem 0 1rem 0;
}
.cancel{
    color: hsl(224, 23%, 55%);
    background-color: white;
}
.attribution{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}